<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./dashboard.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Dashboard</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/index">Back to Home</a></li>
                <li><a href="./my_con.html">My Connections</a></li>
                <li><a href="#">My Groups</a></li>
                <!-- <li><a href="#">Messages</a></li> -->
                <!-- <li><a href="#">Task</a></li> -->
                <li><a href="#">Investment Reports</a></li>
                <!-- <li><a href="#">Documents</a></li> -->
                <!-- <li><a href="#">Calender</a></li> -->
                <li><a href="#">Recruit for your Startup</a></li>
                <li><a href="#">Pitch your startup</a></li>
            </ul>
        </nav>
        <main>
            <div class="dashboard-content">
                <h2>Recent Activity</h2>
                <ul>
                    <li>
                        <span class="username">Rakesh Khan</span>
                        <span class="action">joined as Individual Investor</span>
                        <span class="date">Sep 26, 2023</span>
                    </li>
                    <li>
                        <span class="username">Canara Group</span>
                        <span class="action">joined as Institutional Investor</span>
                        <span class="date">Jun 15, 2023</span>
                    </li>
                </ul>
            </div>
            <div class="dashboard-content">
                <h2>Investors</h2>
                <ul>
                    <li>
                        <span class="username">Rakesh Khan</span>
                        <span class="investment">30k+ investment</span>
                        <span class="net-worth">Net Worth: 1,899 Crs</span>
                    </li>
                    <li>
                        <span class="username">Canara Group</span>
                        <span class="investment">60k+ investment</span>
                        <span class="net-worth">Canara Group Lmtd</span>
                    </li>
                </ul>
            </div>
        </main>
    </div>
</body>

</html>